__pycache__/
*checkpoint*
core
run*/
*train*/
sd_training*/
sd_prediction*/
run_predict.sh
run_train.sh
run_slurm.sh
run_multi.sh
wandb/
.venv/
.venvv/
.env
lightning_logs/
*_debug_*/
*.log
*test*
md17_data/
darts_logs/
saved_runs/
train_runs/
predict_runs/
slurm_logs/
*.png
