__pycache__/
*checkpoint*
core
run*/
*train*/
sd_training*/
sd_prediction*/
run_predict.sh
run_train.sh
run_slurm.sh
run_multi.sh
saved_runs/
wandb/
.venv/
.env
lightning_logs/
*.log
*test*
md17_data/
darts_logs/