numpy
scipy
pandas
scikit-learn
matplotlib
--extra-index-url https://download.pytorch.org/whl/cu122
torch==2.5.1
torch-geometric
lightning
wandb
imageio
ase
MDAnalysis
MDTraj
darts
--find-links https://data.pyg.org/whl/torch-2.5.1+cu121.html
torch-cluster 
torch-scatter 
torch-sparse 
torch-spline-conv